
//  变量
@import "mixins/_variables";

/* 子系统 框架 */

.#{$pre}SubIndex {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* 子系统 侧边栏 */
.#{$pre}SubIndex_sidebar_lyt {
  width: 250px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9;
  background:rgba(251,251,255,1);
  border-right: solid 1px #c7deea;
  box-shadow:0px 0px 12px 0px rgba(43,107,234,0.23);
  -webkit-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


/* 子系统 折叠 */
.#{$pre}SubIndex_fold {
  width: 100%;
  height: 56px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  background:linear-gradient(180deg,rgba(229,241,246,1) 0%,rgba(199,222,234,1) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .fold_title{
    font-size: 14px;
    color: #222;
  }
  .fold_btn{
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #666;
    text-align: center;
    cursor: pointer;
    &:hover{
      color: #333;
    }
  }
}

/* 子系统 菜单 */
.#{$pre}SubIndex_menu {
  width: 100%;
  position: absolute;
  left: 0;
  top: 56px;
  bottom: 0;
  overflow: auto;
}




/* 子系统 数据区 */
.#{$pre}SubIndex_mainData_lyt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 250px;
  right: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  overflow: auto;
}



